{
  "openapi": "3.0.0",
  "tags": [
    {
      "name": "Güvenlik",
      "description": "API işlemlerini yapmak için gerekli olan JWT Token almak ve süresi dolmuş bir JWT Token'ın yenilemek için kullanılan metotlar ile iglili bilgileri içermektedir."
    },
    {
      "name": "Hasar Dosyası İşlemleri",
      "description": "Hasar dosyaları ile iglili işlemleri içermektedir"
    },
    {
      "name": "Randevu İşlemleri",
      "description": "Hasar dosyasına bağlı randevu talepleri ile ilgili işlemleri içerir"
    }
  ],
  "info": {
    "title": "AWP Evnorm API",
    "version": "1.0.8",
    "contact": {
      "email": "dev@performans.com",
      "name": "Performans ",
      "url": "http://www.performans.com"
    },
    "description": "Evnorm Konut Hasar Yönetim Sistemi API kulalnım kılavuzu"
  },
  "servers": [
    {
      "url": "https://api.evnorm.com/api/v1"
    }
  ],
  "paths": {
    "/note": {
      "post": {
        "summary": "Hasar Dosyasına Not Ekleme",
        "operationId": "post-note",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Başarılı işlem sonucu": {
                    "value": {
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Hasar dosyasına not ve not ile birlikte dosya/resim eklemek için kullanılır",
        "security": [
          {
            "JWT Bearer Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object"
              },
              "examples": {}
            }
          },
          "description": "Form data olarak aşağıdaki parametreler gönderilmelidir\n\n**ownerId**\n> Notun ekleneceği Hasar Dosyası Id'si\n\n**note**\n> Not içeriği\n\n**sendMail**\n> Notun hasar dosyası ilgililerine e-posta ile bildirim gönderilip gönderilmeyeceğini belirtir. \n*true* ise hasar dosyası ilgililerine e-posta ile bildirim gönderilir.\n\n**files**\n> Nota eklenecek dosyalar. Binary dosyalar eklenmelidir. Sadece ***.jpg, .png, .jpeg, .pdf, .docx ve .xlsx*** uzantılı dosyalara izin verilir. Bunun dışındaki dosyaların gönderilmesi durumunda gönderilen dosyalar gözarde edilir ve kaydedilmez.\n\n\n\n\n"
        },
        "parameters": [],
        "tags": [
          "Hasar Dosyası İşlemleri"
        ]
      },
      "parameters": []
    },
    "/df/review-report": {
      "parameters": [],
      "post": {
        "summary": "Fizibilite/Onarım Raporu Onaylama/Reddetme",
        "operationId": "post-df-review-report",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Uygunsuz Talep": {
                    "value": {
                      "success": false,
                      "message": "Bu dosya fizibilite raporu onayına uygun değildir",
                      "statusCode": 400
                    }
                  },
                  "Yetki Hatası": {
                    "value": {
                      "success": false,
                      "message": "Bu işlemi yapmaya yetkiniz bulunmuyor",
                      "statusCode": 403
                    }
                  },
                  "Başarılı İşlem Sonucu": {
                    "value": {
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Fizibilite ya da onarım raporunda yer alan maddeleri onaylamak ya da reddetmek için kullanılır",
        "security": [
          {
            "JWT Bearer Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Raporun bağlı olduğu hasar dosyası anahtarı [id]"
                  },
                  "reportType": {
                    "type": "integer",
                    "description": "İlgili rapor tipi. Fizibilite Raporu: 1, Onarım Raporu: 2"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "İşleme tabi rapor maddedsinin idsi"
                        },
                        "approved": {
                          "type": "boolean",
                          "description": "Onaylanıp onaylanmadığı. true ise onaylanır, false ise reddedlir "
                        },
                        "message": {
                          "type": "string",
                          "description": "Red nedeni"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "id": "9b10648e-85e3-4814-8bd9-f36ff3cb01b8",
                    "reportType": 1,
                    "items": [
                      {
                        "id": "2db52ca3-c911-4e6f-98ec-830d168193c0",
                        "approved": true
                      },
                      {
                        "id": "110a448e-feb4-4671-bd13-65f68cf93a6e",
                        "approved": false,
                        "message": "Yapılmasına gerek yok"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Hasar Dosyası İşlemleri"
        ]
      }
    },
    "/token/refresh/{refreshToken}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "refreshToken",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "JWT Token Yenileme",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignInResult"
                },
                "examples": {
                  "Başarılı İşlem Sonucu": {
                    "value": {
                      "data": {
                        "accessToken": "eyJhbGciOiJIUzUxMiIsIn9J...",
                        "tokenType": "Bearer",
                        "expiresIn": 172800,
                        "refreshToken": "ZxuRloArVRhNoq9w..."
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  },
                  "Başarısız İşlem Sonucu": {
                    "value": {
                      "success": false,
                      "message": "Invalid login credentials",
                      "statusCode": 400
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-token-refresh-refreshToken",
        "description": "Zaman aşımına uğrayan bir JWT Bearer Token'ın yenilemek için kullanılır",
        "tags": [
          "Güvenlik"
        ]
      }
    },
    "/signin": {
      "post": {
        "summary": "JWT Token Alma",
        "operationId": "post-signin",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignInResult"
                },
                "examples": {
                  "Başarılı İşlem Sonucu": {
                    "value": {
                      "data": {
                        "accessToken": "eyJhbGciOiJIUzUxMiIsIn9J...",
                        "tokenType": "Bearer",
                        "expiresIn": 172800,
                        "refreshToken": "ZxuRloArVRhNoq9w..."
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  },
                  "Başarısız İşlem Sonucu": {
                    "value": {
                      "success": false,
                      "message": "Invalid login credentials",
                      "statusCode": 400
                    }
                  }
                }
              }
            }
          }
        },
        "description": "API erişimlerinde kullanılmak üzere gerekli olan JWT Bearer Token almak için kullanılır. Evnorm kullanıcı adı ve şifre parametreleri gönderilerek kullanıcı için token oluşturularak gönderilir.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignInRequest"
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "username": "api-user",
                    "password": "api-user-password"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Güvenlik"
        ]
      }
    },
    "/df/mh-set-status": {
      "post": {
        "summary": "Muallak Hasar Onaylama / Reddetme",
        "operationId": "post-df-mh-set-status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Başarılı İşlem Sonucu": {
                    "value": {
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Acceptable\nBelirtilen dosya numarası ile kayıtlı bir dosya bulunmuyor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek ": {
                    "value": {
                      "message": "Dosya bulunamadı",
                      "success": false,
                      "statusCode": 404
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nDosya durumu bu işleme uygun değil. Dosya kapalı ya da muallak hasar aşamasından geçmiş olabilir.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "message": "Dosya durumu bu işleme uygun değil",
                      "success": false,
                      "statusCode": 406
                    }
                  }
                }
              }
            }
          },
          "417": {
            "description": "Expectation Failed\n{islem} parametresinde geçersiz işlem tipi gönderilmiş. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "message": "Geçersiz işlem tipi. İlem tipi Onay için 1, Red için -1 değerinde olmalıdır.",
                      "success": false,
                      "statusCode": 406
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Uzman tarafından fizibilite öncesinde oluşturulan Muallak Hasar kaydının onay ya da reddedilmesi için kullanılır. ",
        "security": [
          {
            "JWT Bearer Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dosyaNo": {
                    "type": "string",
                    "description": "Dosya numarası",
                    "example": "99900001",
                    "maxLength": 50
                  },
                  "islem": {
                    "type": "integer",
                    "description": "İşlem tipi\n\nOnay : 1\nRed  : -1",
                    "enum": [
                      1,
                      -1
                    ],
                    "format": "int32",
                    "example": 1
                  },
                  "aciklama": {
                    "type": "string",
                    "description": "İşlem açıklaması",
                    "maxLength": 500,
                    "example": "Tutar çok fazla"
                  }
                },
                "required": [
                  "dosyaNo",
                  "islem"
                ]
              },
              "examples": {
                "Onaylama": {
                  "value": {
                    "dosyaNo": "2020120134375",
                    "islem": 1
                  }
                },
                "Reddetme": {
                  "value": {
                    "dosyaNo": "2020120134375",
                    "islem": -1,
                    "aciklama": "Hasar tutarı çok yüksek"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Hasar Dosyası İşlemleri"
        ]
      }
    },
    "/df/create-temp": {
      "post": {
        "summary": "Ön Kayıt Statüsünde Hasar Dosyası Oluşturma",
        "operationId": "post-df-create-temp",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Ön Kayıt statüsünde hasar dosyası oluşturmak için kullanılır. ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "dosyaNo": {
                    "type": "string",
                    "example": "2020120134375",
                    "maxLength": 50,
                    "description": "Hasar dosyası numarası"
                  },
                  "policeNo": {
                    "type": "string",
                    "example": "200200025120580",
                    "maxLength": 50,
                    "description": "Poliçe No"
                  },
                  "urunAdi": {
                    "type": "string",
                    "example": "200200025120580",
                    "maxLength": 50,
                    "description": "Ürün Adı - Poliçe Tipi ve Poliçe Grubu verilemediği durularda Evnorm üzerinde ürün adı eşleştirmesi var ise ürün ilgili ürün adı gönderilmelidir. Ürün adından PoliçeTipi ve Poliçe grubu alınır."
                  },
                  "policeTipi": {
                    "type": "integer",
                    "description": "Poliçe tipi kodudur. Sigorta şirketine göre değişiklik gösterebilir. ",
                    "format": "int32",
                    "example": 33
                  },
                  "policeGrubu": {
                    "type": "integer",
                    "description": "Poliçe Grubu\n\n1 : Sivil\n2 : Ticari\n3 : Sınai",
                    "enum": [
                      1,
                      2,
                      3
                    ],
                    "format": "int32",
                    "example": 1,
                    "minimum": 1,
                    "maximum": 3
                  },
                  "policeBaslangicTarihi": {
                    "type": "string",
                    "description": "Poliçe Başlangıç Tarihi: 'yyyy-MM-dd' şeklinde ISODATE formatında olmalıdır. Poliçe başlangıç tarihi bugünden sonra olamaz\n\n",
                    "format": "date",
                    "example": "2020-06-16"
                  },
                  "policeBitisTarihi": {
                    "type": "string",
                    "format": "date",
                    "example": "2021-06-16",
                    "description": "Poliçe Bitiş Tarihi: 'yyyy-MM-dd' şeklinde ISODATE formatında olmalıdır. Poliçe bitiş tarihi poliçe başlangıç tarihinden sonra olmalıdır"
                  },
                  "sigortaliTipi": {
                    "type": "integer",
                    "description": "Sigortali Tipi: Şahıs: 1, Tüzel: 2 olabilir.",
                    "format": "int32",
                    "example": 2,
                    "minimum": 1,
                    "maximum": 2,
                    "enum": [
                      1,
                      2
                    ]
                  },
                  "sigortaliYetkiliAdiSoyadi": {
                    "type": "string",
                    "description": "Sigortalı tipi \"şahıs\" olan poliçelerde Sigortalı Adı, \"tüzel\" olan poliçelerde ise firma adına yetkili kişinin adı soyadıdır.",
                    "example": "Mehmet Yıldırım",
                    "maxLength": 50
                  },
                  "sigortaliTcKimlikNo": {
                    "type": "string",
                    "description": "Sigortalı tipi \"şahıs\" olan poliçelerde girilmesi zorunlu olup sigortalının Türk vatandaşları için T.C. Kimlik Numarası, yabancı uyruklular için ise pasaport numarası belirtilmelidir.",
                    "example": "55544466677",
                    "maxLength": 20
                  },
                  "sigortaliFirmaUnvani": {
                    "type": "string",
                    "example": "AGA Servis Hizmetleri A.Ş.",
                    "maxLength": 255,
                    "description": "Sigortalı tipi \"tüzel\" olan poliçelerde girilmesi zorunlu olup poliçe sahibi firmanın adı belirtilmelidir."
                  },
                  "sigortaliVergiDairesi": {
                    "type": "string",
                    "example": "MECİDİYEKÖY",
                    "maxLength": 20,
                    "description": "Sigortalı tipi \"tüzel\" olan poliçelerde girilmesi zorunlu olup poliçe sahibi firmanın vergi dairesi belirtilmelidir"
                  },
                  "sigortaliVergiNo": {
                    "type": "string",
                    "description": "Sigortalı tipi \"tüzel\" olan poliçelerde girilmesi zorunlu olup poliçe sahibi firmanın vergi numarası belirtilmelidir",
                    "example": "7280281299",
                    "maxLength": 20
                  },
                  "sigortaliKiracimi": {
                    "type": "boolean",
                    "example": true,
                    "description": "Sigortalı kiracı ise true mülk sahibi ise false gönderilir."
                  },
                  "sigortaliGsm": {
                    "type": "string",
                    "description": "Sigortalıya erişilebilmesi ve sistem tarafından bildirimlerin sms olarak gönderileceği cep telefonu numarasıdır. Telefon numarası 5556667788 formatında başında sıfır olmadan, 10 haneli ve sadece rakamlardan oluşmalıdır. Farklı formatlarda girilmesi halinde SMS bildirimleri sigortalıya ulaşmayabilir.",
                    "example": "5556667788",
                    "maxLength": 20
                  },
                  "sigortaliTel1": {
                    "type": "string",
                    "description": "Sigortalıya ait ev iş ya da diğer telefon numarası. Telefon numarası 2126667788 formatında başında sıfır olmadan, 10 haneli ve sadece rakamlardan oluşmalıdır.",
                    "example": "2122919816",
                    "maxLength": 20
                  },
                  "sigortaliTel2": {
                    "type": "string",
                    "description": "Sigortalıya ait ev iş ya da diğer telefon numarası. Telefon numarası 2126667788 formatında başında sıfır olmadan, 10 haneli ve sadece rakamlardan oluşmalıdır.",
                    "example": "2122485078",
                    "maxLength": 20
                  },
                  "acenteUnvani": {
                    "type": "string",
                    "description": "Poliçeyi yapan sigorta acentesi unvanı",
                    "example": "ALP-ER SİGORTA ARACILIK HİZ. LTD. ŞTİ.",
                    "maxLength": 255
                  },
                  "acenteYetklisi": {
                    "type": "string",
                    "description": "Poliçeyi yapan sigorta acentesi yetkilisi adı soyadı",
                    "example": "Taner Koca",
                    "maxLength": 100
                  },
                  "acenteTel": {
                    "type": "string",
                    "example": "8505320548",
                    "maxLength": 100,
                    "description": "Poliçeyi yapan sigorta acentesi rtibat telefon numarası. "
                  },
                  "hasarTarihi": {
                    "type": "string",
                    "description": "Hasarın oluştuğu tarihidir. 'yyyy-MM-dd' şeklinde ISO DATE formatında olmalıdır",
                    "format": "date",
                    "example": "2020-06-05"
                  },
                  "hasarIhbarTarihi": {
                    "type": "string",
                    "description": "Hasarın sigortalı tarafından bildirildiği tarihitir.  'yyyy-MM-dd' şeklinde ISO DATE formatında olmalıdır",
                    "format": "date",
                    "example": "2020-06-08"
                  },
                  "binaTipi": {
                    "type": "integer",
                    "description": "Hasarın meydana geldiği bina tipi.\n\n1: Betonarme,\n2: Tam kagir,\n3: Yarım kagir,\n4: Ahşap,\n5: Çelik,\n6: Diğer",
                    "enum": [
                      1,
                      2,
                      3,
                      4,
                      5,
                      6
                    ],
                    "example": 1,
                    "minimum": 1,
                    "maximum": 6
                  },
                  "hasarNedeni": {
                    "type": "integer",
                    "description": "Hasarın oluşma nedeni. Aşağıdaki değerlerden birisini alabilir\n\n19 : Cam Kırılması / Cam Kırılması,\n20 : Cam Kırılması / Dolu,\n21 : Cam Kırılması / Hareketli Cam,\n22 : Cam Kırılması / Sabit Cam,\n23 : Dahili Su / Açık Bırakılan Musluk,\n24 : Dahili Su / Akvaryum Su Sızması,\n25 : Dahili Su / Baca Açıkları,\n26 : Dahili Su / Drenaj,\n27 : Dahili Su / Geri Tepme,\n28 : Dahili Su / Isı Farklılığı,\n29 : Dahili Su / İç İzolasyon Eksikliği,\n30 : Dahili Su / İzolasyon Hatası,\n31 : Dahili Su / Komşudan Sızıntı,\n32 : Dahili Su / Tesisat Açma/Kapama,\n33 : Dahili Su / Tesisat Sızıntısı,\n34 : Dahili Su / Yağmur,\n35 : Duman / Duman,\n36 : Fırtına / Fırtına,\n37 : Hırsızlık / Ademi Teslim,\n38 : Hırsızlık / Akvaryum Su Sızması,\n39 : Hırsızlık / Aşırma,\n40 : Hırsızlık / Bina Sabit Kıymet Hırsızlık,\n41 : Hırsızlık / Emniyeti Suistimal,\n42 : Hırsızlık / Gasp, Kapkaç,\n43 : Hırsızlık / Hırsızlığa Teşebbüs,\n44 : Hırsızlık / Hırsızlık,\n45 : Hırsızlık / Hırsızlık 3. Şahıs Emtea,\n46 : Hırsızlık / Hırsızlık, Çalınma,\n47 : Hırsızlık / Kısmi Çalınma,\n48 : Hırsızlık / Tamamen Çalınma,\n49 : İnfilak / 3.Şahsa Verilen Zarar,\n50 : İnfilak / Akvaryum Su Sızması,\n51 : İnfilak / Doğalgaz Sıkışması,\n52 : İnfilak / Fiziki İnfilak,\n53 : İnfilak / Kazan Patlaması,\n54 : İnfilak / Televizyon Patlaması,\n55 : İnfilak / Tüp Patlaması,\n56 : Kar Ağırlığı / Akvaryum Su Sızması,\n57 : Kar Ağırlığı / Kar Ağırlığı,\n58 : Sel Su Baskını / Aşırı Yağış,\n59 : Sel Su Baskını / Deniz Kabarması,\n60 : Sel Su Baskını / Dere Taşması,\n61 : Sel Su Baskını / Geri Tepme,\n62 : Sel Su Baskını / Sel Su Baskını,\n63 : Sel Su Baskını / Seylap,\n64 : Sel Su Baskını / Yağmur,\n65 : Sel Su Baskını / Yer Altı Suyu,\n66 : Terör / Depo,\n67 : Terör / Gemi,\n68 : Terör / Kamyon,\n69 : Terör / Terör,\n70 : Terör / Treyler,\n71 : Terör / Uçak,\n72 : Terör / Vagon,\n73 : Yangın / Akvaryum Su Sızması,\n74 : Yangın / Ateş Sıçraması,\n75 : Yangın / Elektrik Kontağı,\n76 : Yangın / Kaynak Sonucu,\n77 : Yangın / Makina Yangın,\n78 : Yangın / Yangın",
                    "format": "int32",
                    "example": 19,
                    "minimum": 19,
                    "maximum": 78
                  },
                  "hasarTanimi": {
                    "type": "string",
                    "description": "Hasarın tanımı belirtilmelidir.",
                    "example": "Banyo duvarında su sızıntısı var",
                    "maxLength": 4000
                  },
                  "hasarAdresiIl": {
                    "type": "string",
                    "description": "Hasarın oluştuğu adres İL",
                    "example": "İSTANBUL",
                    "maxLength": 50
                  },
                  "hasarAdresiIlce": {
                    "type": "string",
                    "description": "Hasarın oluştuğu adres İLÇE",
                    "example": "ŞİŞLİ",
                    "maxLength": 50
                  },
                  "hasarAdresiSemt": {
                    "type": "string",
                    "description": "Hasarın oluştuğu adres SEMT, bilinmiyor ise ilçe ile aynı değer gönderilebilir",
                    "example": "MECİDİYEKÖY",
                    "maxLength": 50
                  },
                  "hasarAdresiMahalle": {
                    "type": "string",
                    "example": "KUŞTEPE MAH.",
                    "maxLength": 50,
                    "description": "Hasarın oluştuğu adres MAHALLE"
                  },
                  "hasarAdresiSokak": {
                    "type": "string",
                    "example": "Mehmetçik Cd. No:34",
                    "maxLength": 255,
                    "description": "Hasarın oluştuğu adres CAdde, Sokak, bina numarası kat site adı vb."
                  },
                  "irtibatKisiAdSoyad": {
                    "type": "string",
                    "description": "Hasar dosyası ile iglili irtibat kurulacak kişinin adı soyadı. Sigortalı ile aynı olabilir.",
                    "example": "Mehmet Yıldırım",
                    "maxLength": 50
                  },
                  "irtibatKisiGsm": {
                    "type": "string",
                    "description": "Hasar dosyası ile iglili irtibat kurulacak kişinin cep telefonu numarası. Sigortalı ile aynı olabilir. Telefon numarası 5556667788 formatında başında sıfır olmadan, 10 haneli ve sadece rakamlardan oluşmalıdır. Farklı bir formatta gönderilmesi durumunda sistemden gönderilen SMS bildirimleri ulaşmayabilir.",
                    "example": "5557778899",
                    "maxLength": 20
                  },
                  "irtibatKisiTel1": {
                    "type": "string",
                    "description": "Hasar dosyası ile iglili irtibat kurulacak kişiye ait ev iş ya da diğer telefon numarası. Telefon numarası 2126667788 formatında başında sıfır olmadan, 10 haneli ve sadece rakamlardan oluşmalıdır.",
                    "maxLength": 20,
                    "example": "2122919816"
                  },
                  "irtibatKisiTel2": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Hasar dosyası ile iglili irtibat kurulacak kişiye ait ev iş ya da diğer telefon numarası. Telefon numarası 2126667788 formatında başında sıfır olmadan, 10 haneli ve sadece rakamlardan oluşmalıdır.",
                    "example": "2122485078"
                  }
                },
                "required": [
                  "dosyaNo",
                  "policeNo",
                  "policeBaslangicTarihi",
                  "policeBitisTarihi",
                  "sigortaliTipi",
                  "sigortaliYetkiliAdiSoyadi",
                  "sigortaliKiracimi",
                  "sigortaliGsm",
                  "hasarTarihi",
                  "hasarIhbarTarihi",
                  "binaTipi",
                  "hasarNedeni",
                  "hasarTanimi"
                ]
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "policeNo": "202011101311",
                    "dosyaNo": "202011101355",
                    "urunAdi": "Klasik Yangın / Sivil",
                    "policeBaslangicTarihi": "2020-04-12",
                    "policeBitisTarihi": "2021-04-12",
                    "sigortaliTipi": 2,
                    "sigortaliYetkiliAdiSoyadi": "Mehmet Yıldırım",
                    "sigortaliTcKimlikNo": "55544466677",
                    "sigortaliFirmaUnvani": "AGA Servis Hizmetleri A.Ş.",
                    "sigortaliVergiDairesi": "MECİDİYEKÖY",
                    "sigortaliVergiNo": "7280281299",
                    "sigortaliKiracimi": true,
                    "sigortaliGsm": "5556667788",
                    "sigortaliTel1": "2122919816",
                    "sigortaliTel2": "2122485078",
                    "hasarTarihi": "2020-06-05",
                    "hasarIhbarTarihi": "2020-06-08",
                    "binaTipi": 1,
                    "hasarNedeni": 19,
                    "hasarTanimi": "Banyo duvarında su sızıntısı var",
                    "hasarAdresiIl": "İSTANBUL",
                    "hasarAdresiIlce": "ŞİŞLİ",
                    "hasarAdresiSemt": "MECİDİYEKÖY",
                    "hasarAdresiMahalle": "KUŞTEPE MAH.",
                    "hasarAdresiSokak": "Mehmetçik Cd. No:34"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Hasar Dosyası İşlemleri"
        ]
      }
    },
    "/df/create-update": {
      "post": {
        "summary": "Hasar Dosyası Oluşturma/Güncelleme",
        "operationId": "post-df-create-update",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "success": false,
                      "statusCode": 400,
                      "message": "Invalid request"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nGönderilen verinin validasyonlardan geçememesi halinde 406 cevabu verilir. Cavap içerisinde hatalar ile ilgili detaylı bilgi yer almaktadır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "errors": {
                        "PoliceTipi": [
                          "Belirtilen id ile tanımlı bir PoliceTipi bulunamadı. Geçerli değerler: 14 : Cam / Bireysel, 15 : Cam / Ticari, 16 : Eczane Paket, 17 : Klasik Yangın / Sınai, 18 : Klasik Yangın / Sivil, 19 : Klasik Yangın / Ticari, 20 : Optimum Ev, 21 : Otel Paket, 22 : Site / Apartman Yönetimi, 23 : Süper Ev, 24 : Tüm Ev, 25 : Tüm İşyeri / Sınai, 26 : Tüm İşyeri/Ticari "
                        ],
                        "HasarTarihi": [
                          "HasarTarihi HasarIhbarTarihi = 08.06.2020 değerinden önce olamaz",
                          "HasarTarihi PoliceBaslangicTarihi = 16.06.2020 ve PoliceBitisTarihi = 16.06.2021 aralığında omalıdır"
                        ]
                      },
                      "success": false,
                      "message": "Request has errors",
                      "statusCode": 400
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Evnorm sistemine yeni dosya oluşturmak ya da var olan dosya bilgilerini güncellemek için kullanılır.",
        "security": [
          {
            "JWT Bearer Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HasarDosyasi"
              },
              "examples": {
                "Örnek Talep": {
                  "value": {
                    "dosyaNo": "99900001",
                    "policeNo": "200200025120580",
                    "policeTipi": 23,
                    "policeGrubu": 1,
                    "policeBaslangicTarihi": "2020-04-12",
                    "policeBitisTarihi": "2021-04-12",
                    "sigortaliTipi": 2,
                    "sigortaliYetkiliAdiSoyadi": "Mehmet Yıldırım",
                    "sigortaliTcKimlikNo": "55544466677",
                    "sigortaliFirmaUnvani": "AGA Servis Hizmetleri A.Ş.",
                    "sigortaliVergiDairesi": "MECİDİYEKÖY",
                    "sigortaliVergiNo": "7280281299",
                    "sigortaliKiracimi": true,
                    "sigortaliGsm": "5556667788",
                    "sigortaliTel1": "2122919816",
                    "sigortaliTel2": "2122485078",
                    "acenteUnvani": "ALP-ER SİGORTA ARACILIK HİZ. LTD. ŞTİ.",
                    "acenteYetklisi": "Taner Koca",
                    "acenteTel": "8505320548",
                    "hasarTarihi": "2020-06-05",
                    "hasarIhbarTarihi": "2020-06-08",
                    "binaTipi": 1,
                    "hasarNedeni": 19,
                    "hasarTanimi": "Banyo duvarında su sızıntısı var",
                    "hasarAdresiIl": "İSTANBUL",
                    "hasarAdresiIlce": "ŞİŞLİ",
                    "hasarAdresiSemt": "MECİDİYEKÖY",
                    "hasarAdresiMahalle": "KUŞTEPE MAH.",
                    "hasarAdresiSokak": "Mehmetçik Cd. No:34",
                    "irtibatKisiAdSoyad": "Mehmet Yıldırım",
                    "irtibatKisiGsm": "5557778899",
                    "irtibatKisiTel1": "2122919816",
                    "irtibatKisiTel2": "2122485078"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Hasar Dosyası İşlemleri"
        ]
      }
    },
    "/df/set-rating": {
      "post": {
        "summary": "Hasar Dosyası Hizmet Kalitesi Değerlendirme",
        "operationId": "post-df-set-rating",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Hatalı işlem sonucu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "statusCode": 500,
                      "success": false,
                      "message": "Belirtilen Id ile kayıtlı bir hasar dosyası bulunamadı."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT Bearer Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Değerlendirmesi yapılacak olan hasar dosyasına ait Evnorm Id (Guid)"
                  },
                  "rating": {
                    "type": "integer",
                    "description": "Değerlendirme puanı",
                    "example": 5
                  }
                },
                "required": [
                  "id",
                  "rating"
                ]
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "id": "74ee726a-0f2a-4733-8d28-e90710287c10",
                    "rating": 5
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        },
        "description": "Bir hasar dosyasına ait hizmet kalitesi değerlendirmesini kaydetmek için kullanılan metottur.",
        "tags": [
          "Hasar Dosyası İşlemleri"
        ]
      }
    },
    "/df/set-client-is-repair-completed": {
      "post": {
        "summary": "Onarım Tamamlanıp Tamamlanmadığı Geri Bildirimini Kaydetme",
        "operationId": "post-df-set-client-is-repair-completed",
        "responses": {
          "200": {
            "description": "Başarılı işlem sonucu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Başarısız işlem sonucu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "statusCode": 500,
                      "success": false,
                      "message": "Belirtilen Id ile kayıtlı bir hasar dosyası bulunamadı."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Müşteri tarafından bir hasar dosyasına ait onarımın tamamlanıp tamamlanmadığı geribildirimini Evnorm sisteminde güncellemek için kullanılır",
        "security": [
          {
            "JWT Bearer Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Evnorm dosya id"
                  },
                  "isCompleted": {
                    "type": "boolean",
                    "description": "Müşterinin onarımın tamamlanıp tamamlanmadığı bildirimidir. \n\nTamamladı: true, Tamamlamadı: false olarak gönderilmelidir"
                  }
                },
                "required": [
                  "id",
                  "isCompleted"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "3c5c0647-7ada-411a-b3e1-0202077e4625",
                    "isCompleted": true
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Hasar Dosyası İşlemleri"
        ]
      }
    },
    "/df/set-supplier-was-late-for-appointment": {
      "post": {
        "summary": "Tedarikçinin Randevuya Gecikmesi Geri Bildirimini Kaydetme",
        "operationId": "post-df-set-supplier-was-late-for-appointment",
        "responses": {
          "200": {
            "description": "Başarılı işlem",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Başarısız işlem sonucu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "success": false,
                      "message": "Belirtilen dosyaya henüz fizibilite uzmanı atanmamıştır. Fizibilite randevusu gecikmesi sadece fizibilite uzmanı ataması yapıldıktan sonra tanımlanabilir.",
                      "statusCode": 400
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Evnorm kayıt Id. (Guid tipindedir)"
                  },
                  "type": {
                    "type": "integer",
                    "description": "Randevu tipini belirtir. Fizibilite Randevusu: 1, Onarım Randevusu: 2",
                    "enum": [
                      1,
                      2
                    ],
                    "minimum": 1,
                    "maximum": 2
                  }
                },
                "required": [
                  "id",
                  "type"
                ]
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "id": "74ee726a-0f2a-4733-8d28-e90710287c10",
                    "type": 2
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        },
        "security": [
          {
            "JWT Bearer Authorization": []
          }
        ],
        "description": "Tedarikçinin Fizibilite ya da Onarım randevusuna gecikmesi durumunda Evnorm'a bu bilginin kaydedilmesi için kullanılır. ",
        "tags": [
          "Hasar Dosyası İşlemleri"
        ]
      }
    },
    "/df/set-appointment-date": {
      "post": {
        "summary": "Hasar Dosyası Fizibilite ya da Onarım Randevu Tarihi Güncelleme",
        "operationId": "post-df-set-appointment-date",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Başarısız işlem sonucu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "success": false,
                      "message": "string",
                      "statusCode": 400
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Bir hasar dosyasına ait fizibilite ya da onarım randevu tarihlerini güncellemek için kullanılır",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Evnorm dosya Id (Guid)"
                  },
                  "date": {
                    "type": "string",
                    "description": "Randevu tarihi ve saati 'yyyy-MM-dd HH:mm' şeklinde ISO Date formatında olmalıdır",
                    "example": "2020-09-30T10:30:00.0000000Z",
                    "format": "date-time"
                  },
                  "endTime": {
                    "type": "string",
                    "example": "10:30:00",
                    "format": "time",
                    "description": "Randevu bitiş saati 'HH:mm' şeklinde TimeSpan formatında olmalıdır"
                  },
                  "type": {
                    "type": "integer",
                    "description": "Randevu türü. Fizibilite Randevusu: 1, Onarım Randevusu: 2",
                    "enum": [
                      1,
                      2
                    ],
                    "example": 1,
                    "minimum": 1,
                    "maximum": 2,
                    "format": "int32"
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ]
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "id": "74ee726a-0f2a-4733-8d28-e90710287c10",
                    "date": "2020-09-01T11:30:00.0000000Z",
                    "endTime": "11:40:00",
                    "type": 2
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT Bearer Authorization": []
          }
        ],
        "tags": [
          "Hasar Dosyası İşlemleri"
        ]
      }
    },
    "/df/get-with-policy-number/{policyNumber}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "policyNumber",
          "in": "path",
          "required": true,
          "description": "Poliçe numarası"
        }
      ],
      "get": {
        "summary": "Poliçe numarasına bağlı hasar dosyaları alma",
        "tags": [
          "Hasar Dosyası İşlemleri"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DetayliHasarDosyasi"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "success",
                    "statusCode"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "İşlem hatası",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HasarDosyasi"
                      }
                    }
                  },
                  "required": [
                    "status"
                  ]
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "data": [
                        {
                          "sirket": "d8812541-34e7-4e2d-aefa-0d0e9d9324a3",
                          "eksper": "e7268a0d-1fc7-44a5-84ad-dab0f4be0d5e",
                          "matDosyaNo": "2020-10-01-015246-365",
                          "dosyaNo": "AZXTEST2020100101",
                          "policeTipi": 14,
                          "policeGrubu": 1,
                          "policeNo": "AZXTEST2020100101",
                          "policeBaslangicTarihi": "2020-03-02T00:00:00",
                          "policeBitisTarihi": "2021-03-02T00:00:00",
                          "musteriOnceligi": 1,
                          "sigortaliTipi": 1,
                          "sigortaliFirmaUnvani": null,
                          "sigortaliVergiDairesi": null,
                          "sigortaliVergiNo": null,
                          "sigortaliYetkiliAdiSoyadi": "TEST SİGORTALI",
                          "sigortaliTcKimlikNo": "11111111111",
                          "sigortaliKiracimi": true,
                          "sigortaliGsm": "0 (533) 727 36 39",
                          "sigortaliTel1": null,
                          "sigortaliTel2": null,
                          "acente": "de1c41f2-6eb3-414a-a331-22b447d9e470",
                          "acenteUnvani": null,
                          "acenteYetklisi": null,
                          "acenteTel": null,
                          "hasarTarihi": "2020-09-29T00:00:00",
                          "hasarIhbarTarihi": "2020-09-30T00:00:00",
                          "binaTipi": 1,
                          "hasarNedeni": 11,
                          "hasarTanimi": "TEST",
                          "hasarAdresiIl": "İSTANBUL",
                          "hasarAdresiIlce": "AVCILAR",
                          "hasarAdresiSemt": "AMBARLI",
                          "hasarAdresiMahalle": "AMBARLI MAH.",
                          "hasarAdresiSokak": "TEST",
                          "irtibatKisiAdSoyad": "TEST SİGORTALI",
                          "irtibatKisiGsm": "0 (533) 727 36 39",
                          "irtibatKisiTel1": null,
                          "irtibatKisiTel2": null,
                          "dosyaDurumu": 1,
                          "fizibiliteUzmani": "b4825258-8416-48aa-9191-1c1b3fa7c8b4",
                          "fizibiliteRandevuTarihi": "2020-10-01T10:00:00",
                          "fizibiliteRandevuTarihiBitisSaati": "16:00",
                          "onarimUzmani": "b4825258-8416-48aa-9191-1c1b3fa7c8b4",
                          "onarimRandevuTarihi": "2020-10-01T11:30:00",
                          "onarimRandevuTarihiBitisSaati": "10:30",
                          "onarimBaslangicTarihi": "2020-10-01T12:00:00",
                          "onarimBitisTarihi": "2020-10-02T12:00:00",
                          "hasNotification": false,
                          "flagStatus": 3,
                          "flagStatusDescription": "AZXTEST2020100101<br />Onarım yapılıyor/rapor oluşturuluyor",
                          "responsible": 4,
                          "dosyaBeklemeNedeni": null,
                          "dosyaBeklemeTarihi": null,
                          "dosyaKapanmaNedeni": 0,
                          "muallakHasarToplam": 0,
                          "muallakHasarSmsCode": null,
                          "tedarikciOnarimRandevusunaGecikti": true,
                          "tedarikciFizibiliteRandevusunaGecikti": true,
                          "rating": 5,
                          "musteriOnarimTamamlandi": true,
                          "hasFeasibilitySpecialist": true,
                          "hasFeasibilityMeetingDate": true,
                          "hasRepairSpecialist": true,
                          "hasRepairDates": true,
                          "feasibilityReport": {
                            "dosyaId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                            "reportType": 1,
                            "reportItems": [
                              {
                                "reportId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "ownerId": "a48c8a25-52fe-4277-8e64-b1ce874d5fa1",
                                "normId": "f6128720-e55b-4843-9aec-974be335e507",
                                "locationId": "631795b5-bf50-4109-8ccf-2525904c37de",
                                "normName": "01.1.1   SIHHİ T. İŞÇİLİK",
                                "normPath": "SALON / Duvar / 01 TESİSAT / 01.1 SIHHİ T.",
                                "quantity": 10,
                                "unit": "gün",
                                "unitPrice": 125.1,
                                "fireOrani": 0,
                                "indirimOrani": 0,
                                "total": 1251,
                                "normType": 1,
                                "deleted": false,
                                "description": "",
                                "productGroup": "",
                                "itemStatus": 20,
                                "actionLogs": [
                                  {
                                    "ownerId": "a48c8a25-52fe-4277-8e64-b1ce874d5fa1",
                                    "logType": 20,
                                    "description": "",
                                    "modifiedOn": "0001-01-01T00:00:00",
                                    "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                    "createdOn": "2020-10-01T16:20:16.39",
                                    "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                    "createdByUser": null,
                                    "createdByUserFullname": null,
                                    "modifiedByUser": null,
                                    "modifiedByUserFullname": null,
                                    "id": "b54c38ed-14bb-4928-ad20-45cd4b740a69"
                                  }
                                ],
                                "createdOn": "2020-10-01T15:25:05.063",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedOn": "2020-10-01T15:25:05.063",
                                "modifiedBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "a48c8a25-52fe-4277-8e64-b1ce874d5fa1"
                              },
                              {
                                "reportId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "ownerId": "37c59ca9-90fa-4468-8f59-8335647c9093",
                                "normId": "f6128720-e55b-4843-9aec-974be335e507",
                                "locationId": "55a41423-2813-43f2-a7f1-fd8b787cb702",
                                "normName": "01.1.1   SIHHİ T. İŞÇİLİK",
                                "normPath": "Y.ODASI / Duvar / 01 TESİSAT / 01.1 SIHHİ T.",
                                "quantity": 2,
                                "unit": "gün",
                                "unitPrice": 125.1,
                                "fireOrani": 0,
                                "indirimOrani": 0,
                                "total": 250.2,
                                "normType": 1,
                                "deleted": false,
                                "description": "",
                                "productGroup": "",
                                "itemStatus": 20,
                                "actionLogs": [
                                  {
                                    "ownerId": "37c59ca9-90fa-4468-8f59-8335647c9093",
                                    "logType": 20,
                                    "description": "",
                                    "modifiedOn": "0001-01-01T00:00:00",
                                    "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                    "createdOn": "2020-10-01T16:20:16.467",
                                    "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                    "createdByUser": null,
                                    "createdByUserFullname": null,
                                    "modifiedByUser": null,
                                    "modifiedByUserFullname": null,
                                    "id": "d03822d8-48fb-42dd-9bd6-292d62f6a242"
                                  }
                                ],
                                "createdOn": "2020-10-01T15:25:33.993",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedOn": "2020-10-01T15:25:33.993",
                                "modifiedBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "37c59ca9-90fa-4468-8f59-8335647c9093"
                              }
                            ],
                            "actionLogs": [
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 5,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:24:53.14",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "65684ea8-99b2-4da0-b265-d9ec16f155f3"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 6,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:25:05.08",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "813a61f9-f785-49d6-86ce-1eb4bd8ee328"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 7,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:25:09.663",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "91dfb29f-e328-4784-9912-b59aa318e3be"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 7,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:25:15.22",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "bc22294d-c6ce-474e-a0f3-e6fa6304ff4a"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 7,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:25:23.127",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "73ec6108-6696-4518-9413-76754cad20b1"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 6,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:25:34.04",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "fbda7fcc-2f1e-4ecf-a2dc-58be1aae5f11"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 7,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:25:42.633",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "f381a422-b47e-4aa8-ab9f-fc4e8e823144"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 7,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:25:52.493",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "9fb688af-746c-4e81-8ad7-0783faeb7486"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 7,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:28:04.08",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "cfacd5dc-2329-4e76-98ad-edbf3b9fdf2c"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 8,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:43:57.547",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "a212b530-b957-475d-b729-b51789a4b8b1"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 29,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:46:16.717",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "35adee84-5f9f-45d2-b865-f9e25316db7f"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 29,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:47:32.2",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "92cd90c2-7974-4f64-a734-4786376ccc2c"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 7,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T15:54:28.31",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "d55e9a35-adee-40db-bbfc-6bc9ab512a62"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 8,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T16:00:21.507",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "c2d09de4-74b0-4f64-bf6b-7f0a260e5bc5"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 29,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T16:13:32.4",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "19c2a5af-c978-4924-84a2-ad3dfb4aa366"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 7,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T16:20:12.497",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "29cb578d-1025-4b22-9f12-cbfdb08cd056"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 8,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T16:20:14.263",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "e0557ed5-4b1f-435a-a244-c0fd74d15f46"
                              },
                              {
                                "ownerId": "df0d6348-e1d1-4839-828a-01663f6b15d8",
                                "logType": 10,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T16:20:16.577",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "6cbc345c-ecce-45aa-affa-64a71ced6fa7"
                              }
                            ],
                            "createdOn": "2020-10-01T15:24:53.093",
                            "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                            "createdByUser": null,
                            "createdByUserFullname": null,
                            "modifiedOn": "2020-10-01T15:24:53.093",
                            "modifiedBy": "8ec5f176-da03-449c-a583-33ca31571170",
                            "modifiedByUser": null,
                            "modifiedByUserFullname": null,
                            "id": "df0d6348-e1d1-4839-828a-01663f6b15d8"
                          },
                          "repairReport": {
                            "dosyaId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                            "reportType": 2,
                            "reportItems": [
                              {
                                "reportId": "b3930a32-7111-49f8-b4d1-38a6f8e45a0b",
                                "ownerId": "264cc59e-40d9-4c41-aa43-650d2c23f330",
                                "normId": "f6128720-e55b-4843-9aec-974be335e507",
                                "locationId": "55a41423-2813-43f2-a7f1-fd8b787cb702",
                                "normName": "01.1.1   SIHHİ T. İŞÇİLİK",
                                "normPath": "Y.ODASI / Duvar / 01 TESİSAT / 01.1 SIHHİ T.",
                                "quantity": 2,
                                "unit": "gün",
                                "unitPrice": 125.1,
                                "fireOrani": 0,
                                "indirimOrani": 0,
                                "total": 250.2,
                                "normType": 1,
                                "deleted": false,
                                "description": "",
                                "productGroup": "",
                                "itemStatus": 0,
                                "actionLogs": [
                                  {
                                    "ownerId": "264cc59e-40d9-4c41-aa43-650d2c23f330",
                                    "logType": 22,
                                    "description": "",
                                    "modifiedOn": "0001-01-01T00:00:00",
                                    "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                    "createdOn": "2020-10-01T16:20:25.673",
                                    "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                    "createdByUser": null,
                                    "createdByUserFullname": null,
                                    "modifiedByUser": null,
                                    "modifiedByUserFullname": null,
                                    "id": "209be08a-ae4b-42f5-89bc-ea06c67507f2"
                                  }
                                ],
                                "createdOn": "2020-10-01T16:20:25.657",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedOn": "2020-10-01T16:20:25.657",
                                "modifiedBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "264cc59e-40d9-4c41-aa43-650d2c23f330"
                              },
                              {
                                "reportId": "b3930a32-7111-49f8-b4d1-38a6f8e45a0b",
                                "ownerId": "64959bd9-3fc8-4dec-85c5-26c710b9744e",
                                "normId": "f6128720-e55b-4843-9aec-974be335e507",
                                "locationId": "631795b5-bf50-4109-8ccf-2525904c37de",
                                "normName": "01.1.1   SIHHİ T. İŞÇİLİK",
                                "normPath": "SALON / Duvar / 01 TESİSAT / 01.1 SIHHİ T.",
                                "quantity": 10,
                                "unit": "gün",
                                "unitPrice": 125.1,
                                "fireOrani": 0,
                                "indirimOrani": 0,
                                "total": 1251,
                                "normType": 1,
                                "deleted": false,
                                "description": "",
                                "productGroup": "",
                                "itemStatus": 0,
                                "actionLogs": [
                                  {
                                    "ownerId": "64959bd9-3fc8-4dec-85c5-26c710b9744e",
                                    "logType": 22,
                                    "description": "",
                                    "modifiedOn": "0001-01-01T00:00:00",
                                    "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                    "createdOn": "2020-10-01T16:20:25.703",
                                    "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                    "createdByUser": null,
                                    "createdByUserFullname": null,
                                    "modifiedByUser": null,
                                    "modifiedByUserFullname": null,
                                    "id": "50a59164-d342-4beb-8e74-cb8500e620db"
                                  }
                                ],
                                "createdOn": "2020-10-01T16:20:25.703",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedOn": "2020-10-01T16:20:25.703",
                                "modifiedBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "64959bd9-3fc8-4dec-85c5-26c710b9744e"
                              }
                            ],
                            "actionLogs": [
                              {
                                "ownerId": "b3930a32-7111-49f8-b4d1-38a6f8e45a0b",
                                "logType": 31,
                                "description": "",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "createdOn": "2020-10-01T16:20:25.563",
                                "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                                "createdByUser": null,
                                "createdByUserFullname": null,
                                "modifiedByUser": null,
                                "modifiedByUserFullname": null,
                                "id": "17ff4f03-24c6-4421-999b-35ace5259dba"
                              }
                            ],
                            "createdOn": "2020-10-01T16:20:25.517",
                            "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                            "createdByUser": null,
                            "createdByUserFullname": null,
                            "modifiedOn": "2020-10-01T16:20:25.517",
                            "modifiedBy": "8ec5f176-da03-449c-a583-33ca31571170",
                            "modifiedByUser": null,
                            "modifiedByUserFullname": null,
                            "id": "b3930a32-7111-49f8-b4d1-38a6f8e45a0b"
                          },
                          "proformaInvoice": {
                            "id": "b3930a32-7111-49f8-b4d1-38a6f8e45a0b",
                            "items": [],
                            "total": 0
                          },
                          "actionLogs": [
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 1,
                              "description": "",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T13:52:46.367",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "72ac34e1-6415-4189-a6e7-6e65fac507a1"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 2,
                              "description": "",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T13:56:15.137",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "0250eace-f20c-413d-9049-7c348c0fd333"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 43,
                              "description": "AZXTEST2020100101 nolu dosyanız i&#231;in uzman ataması yapılmıştır.Firma yetkilileri sizinle iletişime ge&#231;ecektir.Dosyanız ile ilgili bilgi talep ettiğinizde ve sorularınız i&#231;in Konut Onarım Hattını arayabilirsiniz.(02165283056) Allianz Sigorta",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T13:56:22.833",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "1172059f-2c70-4c59-8443-0d54fe8225a9"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 3,
                              "description": null,
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T14:57:04.217",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "0aa47724-e5cf-40f1-9c54-8e4c4f4b3039"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 4,
                              "description": null,
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:15:19.183",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "044df5f8-77ab-4302-9689-8faf8ced759e"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 4,
                              "description": null,
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:15:59.277",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "98a504fc-9220-473a-943a-8e627d9c4801"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 4,
                              "description": "Randevu Tarihi: 1.10.2020 10:00:00 - 16:00",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:23:38.74",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "829d482d-3212-4822-906b-6c979e61c529"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 5,
                              "description": "",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:24:53.11",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "cb108fc5-c473-4c3d-873a-57b96ac2decb"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 7,
                              "description": "",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:25:09.62",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "48e81545-df32-4b25-b044-3b01e8ef5e4f"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 7,
                              "description": "",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:25:15.203",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "129480bd-9689-4170-bed3-4fb34f37a011"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 7,
                              "description": "",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:25:23.067",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "402d9e3f-52be-43ba-aceb-43d63fe3de61"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 7,
                              "description": "",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:25:42.54",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "89cb9477-9079-46b0-8148-a300458ae97d"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 7,
                              "description": "",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:25:52.417",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "42e6d6a9-9a07-4e2c-9e40-95df3179d3c0"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 7,
                              "description": "",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:28:03.94",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "b602591b-9c56-4d61-92e1-2d851a7d0ac3"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 57,
                              "description": null,
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:39:05.52",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "84ee0113-4cdf-46ed-8908-8f76e2f56c62"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 8,
                              "description": "",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:43:57.5",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "cdaad006-f40b-4750-b5ed-25ab44c0d145"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 29,
                              "description": "tyest",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:46:16.683",
                              "createdBy": "8ec5f176-da03-449c-a583-33ca31571170",
                              "createdByUser": null,
                              "createdByUserFullname": null,
                              "modifiedByUser": null,
                              "modifiedByUserFullname": null,
                              "id": "9d6e1429-9f21-4ab8-9143-56afbdbe6f3e"
                            },
                            {
                              "ownerId": "74ee726a-0f2a-4733-8d28-e90710287c10",
                              "logType": 29,
                              "description": "test",
                              "modifiedOn": "0001-01-01T00:00:00",
                              "modifiedBy": "00000000-0000-0000-0000-000000000000",
                              "createdOn": "2020-10-01T15:47:32.153",
[...]
